{% comment %}
  Homepage Section
{% endcomment %}

<div class="welcome full-width">
  <div class="welcome-content">
    <div>
      <h1>Homepage!</h1>
      <p class="welcome-description">
        The Skeleton theme is a minimal, carefully structured Shopify theme designed to help you quickly get started.
        Designed with modularity, maintainability, and Shopify's best practices in mind.
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage",
  "settings": [],
  "presets": [
    {
      "name": "Homepage Template",
      "category": "Singles"
    }
  ]
}
{% endschema %}
