{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<div class="max-w-md">
  <div class="text-5xl font-bold my-4">
    {{ section.settings.title }}
  </div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext_title }}</p>
  </div>
  <div class="my-4">
    <a href="{{ routes.root_url }}" class="relative p-2 border border-black">
      {{ section.settings.back_button }}
    </a>
  </div>
</div>



{% schema %}
{
  "name": "t:general.404",
  "tag": "section",
  "class": "flex  items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "default": "The page that you're looking for is not found",
      "label": "404 Subtext Title"
    },
    {
      "type": "text",
      "id": "back_button",
      "default": "Back to home",
      "label": "Button text"
    }
  ]
}
{% endschema %}
